<div style='width:100%; margin:0 auto; background-color:#F9F9F9'>
	<div style='width:100%; background-color:#242633; height:70px; padding-top:7px;'>
		<h1 class='hidden-xs' style='color: white; margin: 0px; padding:7px 20px 20px 15px;'> should i mine bitcoin? <i style='float:right;' class="fa fa-btc"></i></h1>
		<h1 class='visible-xs' style='color: white; margin: 0px; padding:7px 20px 20px 15px; font-size:26px;'> should i mine bitcoin?<i style='float:right;' class="fa fa-btc"></i></h1>
	</div>
	<div style='width:100%; padding:10px'>
		<div class="row">
	        <div class="col-lg-6">
	            <div class="panel" style='min-height:300px;'>
	                <div class="panel-body ng-scope">
	                	<p>in order to answer this question you need to do a simple costs minus revenue calculation. You have two costs, your upfront costs for and you variable costs.  However the biggest unknown when it comes to mining bitcoin is the network hash-rate.  The network hash-rate essentially tells you how much of the bitcoin mining pie you will get.  We've taking the last year of hash-rate data and extrapolated a 3rd order polynomial on it for the next two years.</p>  

						<p>Fill free to drag the points for what you thing the actual hash rate will look like over the next two years.</p>

						<p>Enjoy!</p>
	                </div>
	            </div>            
	        </div>
	        <div class="col-lg-6">
	            <div class="panel-heading"><i class="fa fa-wrench"></i>&nbsp&nbsp Your Setup</div>
	            <div class="row">
	                <div class="col-xsm-6">
	                    <div class="panel mini-box">
	                        <span class="box-icon rounded bg-success">
	                            <i class="fa fa-dollar"></i>
	                        </span>
	                        <div class="box-info">
	                            <p class="size-h2"><input style='font-size:20px; display:inline; width:80px;' type='number' ng-model='userUpfrontCost'/><span class="size-h4" style='padding-left:5px;'>$USD</span></p>
	                            <p class="text-muted"><span data-i18n="Growth">upfront cost</span></p>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-xsm-6">
	                    <div class="panel mini-box">
	                        <span class="box-icon rounded bg-info">
	                            <i class="fa fa-dollar"></i>
	                        </span>
	                        <div class="box-info">
	                            <p class="size-h2"><input style='font-size:20px; display:inline; width:80px;' type='number' ng-model='userMonthlyCost'/><span class="size-h4" style='padding-left:5px;'>$USD</span></p>
	                            <p class="text-muted"><span data-i18n="Growth">monthly costs</span></p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-xsm-12">
	                    <div class="panel mini-box">
	                        <span class="box-icon rounded bg-warning">
	                            <i class="fa fa-angle-double-right"></i>
	                        </span>
	                        <div class="box-info">
	                            <p class="size-h2"><input style='font-size:20px; display:inline; width:130px;' type='number' ng-model='yourHashRate'/><span class="size-h4" style='padding-left:5px;'>GHs/s</span></p>
	                            <p class="text-muted"><span data-i18n="Growth">your hashrate</span></p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!-- end stats -->            
	 		</div>
	 	</div>
 		<div class='row'>
 			<div class="col-lg-12">
 				<div class="panel-heading"><i class="fa fa-line-chart"></i>&nbsp&nbsp Network Hashrate Prediciton</div>
	            <div class="panel">
	            	<div class="panel-body">
	                	<div id="container" style="height: 400px"></div>
	            	</div>
	            </div>            
	        </div>
		</div>
		<div class='row'>
 			<div class="col-lg-12">
 				<div class="panel-heading"><i class="fa fa-calculator"></i>&nbsp&nbsp Calculation</div>
	            <div class="panel">
	            	<div class="panel-body">
	            		<div class='row'>
			            	<div class="col-lg-12 text-center">
			            		<button type="button" class="btn btn-primary btn-lg" ng-click='calculateBtcMined()'><i class="fa fa-btc"></i>&nbsp Calculate</button>
			            		<br>
			            		<br>
			            		<p class="text-muted"><span data-i18n="Growth">this will calculate the # of coins you will mine over the next two years</span></p>
			            	</div>
			            </div>
			            <div class='row' ng-show='coinsMined'>
			            	<div class="col-lg-6 text-center">
				            	<div class="panel mini-box">
			                        <p class="size-h2">you will mine <i class="fa fa-btc"></i> {{coinsMined | number:6}}</p>
		               			</div>
		               		</div>
		               		<div class="col-lg-6 text-center">
				            	<div class="panel mini-box">
			                        <p class="size-h2">at a cost of <i class="fa fa-dollar"></i> {{totalCosts | number:2}}</p>
		               			</div>
		               		</div>
		               	</div>
		            </div>
	            </div>            
	        </div>
		</div>
		<div class='row'>
			<div class= "col-lg-12">
				<div class="panel-heading"><i class="fa fa-weixin"></i>&nbsp&nbsp Comment</div>
				<div class="panel">
					<div class="panel-body">
						<div id="disqus_thread"></div>
					    <script type="text/javascript">
					        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
					        var disqus_shortname = 'shouldimine'; // required: replace example with your forum shortname

					        /* * * DON'T EDIT BELOW THIS LINE * * */
					        (function() {
					            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					        })();
					    </script>
					    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
				   </div>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class= "col-lg-12">
				<div style='width:100%; background-color:#242633; height:50px; padding-top:7px;'>
				<h1 class='hidden-xs' style='color: white; margin: 0px; padding:7px 20px 20px 15px; font-size:20px;'><i style='float:left;' class="fa fa-btc"></i><span style='float:right;'>donate: 1JwCHzmyb1bd8F3FGUjB48GjYHr8i8tR5v</span></h1>
				<h1 class='visible-xs' style='color: white; margin: 0px; padding:7px 20px 20px 15px; font-size:14px;'><span style='float:right;'>donate: 1JwCHzmyb1bd8F3FGUjB48GjYHr8i8tR5v</span></h1>
				</div>
			</div>
		</div>
	</div>
</div>

