<div style='width:100%; margin:0 auto; background-color:#F9F9F9'>
	<div style='widht:100%; background-color:#242633'>
		<h1 style='color: white; margin: 0px; padding:5px 0px 5px 10px;'>should i mine bitcoin?</h1>
	</div>
	<div style='width:100%; padding:10px'>
		<div class="row">
        <div class="col-lg-6">
            <div class="panel">
                <div class="panel-body ng-scope" data-ng-controller="flotChartCtrl">
                	in order to answer this question you need do a simple cost minus revinue calcutions.  that man costs are you up front mining cost an well as you monthly variable costs, which includes electricity, labor, and rent.  as far as revenue goes you need to consider how the the network hash rate is going to change over time.
                </div>
            </div>            
        </div>
        <div class="col-lg-6">
            <!-- stats -->
            <div class="row">
                <div class="col-xsm-6">
                    <div class="panel mini-box">
                        <span class="box-icon rounded bg-success">
                            <i class="fa fa-rocket"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">36 <span class="size-h4">%</span></p>
                            <p class="text-muted"><span data-i18n="Growth">Growth</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-xsm-6">
                    <div class="panel mini-box">
                        <span class="box-icon rounded bg-info">
                            <i class="fa fa-users"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">352</p>
                            <p class="text-muted"><span data-i18n="New users">New users</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xsm-6">
                    <div class="panel mini-box">
                        <span class="box-icon rounded bg-warning">
                            <i class="fa fa-dollar"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">4,120</p>
                            <p class="text-muted"><span data-i18n="Profit">Profit</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-xsm-6">
                    <div class="panel mini-box">
                        <span class="box-icon rounded bg-danger">
                            <i class="fa fa-shopping-cart"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">313</p>
                            <p class="text-muted"><span data-i18n="Sales">Sales</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end stats -->            
        </div>
    	</div>
		<div class='row'>
			<div class='col-lg-6'>
				<div class='panel'>
					<h2>Hashrate</h2>
					<h3>what is your hashrate?</h3>
					<input style='display:inline;' type='text' ng-model='userHashRate'/><select></select>
				</div>
			</div>
		</div>
	</div>



	<div class="inner cover">
		
		<h3>well in order for us to answer this we need some information from you!</h3>
		<div class='row'>
			
			<div class='col-md-6'>
				<h2>Costs</h2>
				<h3>what was your upfront cost?</h3>
				<input style='display:inline;' type='text' ng-model='userUpfrontCost'/><h4 style='display:inline;'> $USD</h4>
				<h3>what is your cost per month?</h3>
				<input style='display:inline;' type='text' ng-model='userMonthlyCost'/><h4 style='display:inline;'> $USD</h4>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12'>
				<h2>Neworkhashrate Prediction</h2>
				<h3>what do you expect the network hashrate to look like?</h3>
			</div>
			<div class='col-md-12'>
				<div id="container" style="height: 300px"></div>
			</div>
		</div>
	</div>
</div>

