<div style='width:100%; max-width:1000px; margin:0 auto;' class='row'>
	<div class="inner cover">
		<h1 class="cover-heading">Should I Mine Bitcoin?</h1>
		<h3>well in order for us to anser this we need some information form you!</h3>

		
		<div id="container" style="height: 300px"></div>
	    <div id="drag"></div>
	    <div id="drop"></div>

	    <div id="timeFrame">
	      <h1>Time Frame</h1>
	        <span class="details">Number of months: </span>
	        <input class="userInput"></input>
	        <button class="submit" id='updateHashRateButton'>Update Chart</button>
	    </div>
	    
	</div>
</div>

